body {
    height:100%;
    background-color: rgb(30,30,30) !important;
}

.btn-custom {
    background-color: rgb(116, 49, 249) !important;
}

.btn-custom:hover {
    background-color: rgb(144, 93, 249) !important;
}

.border-custom {
    border-color: rgb(144, 93, 249) !important;
}

.card-custom {
    background-color: rgb(50, 50, 50) !important;
}